/* ---- paddings ---- */
.p-15 {
  padding: 15px;
}
.p-default {
  padding: 10px 20px;
}
.pr-15 {
  padding-right: 15px;
}
.pl-15 {
  padding-left: 15px;
}

/* ---- margins ---- */


/* ---- sizes ---- */
.h-100p {
  height: 100%;
}

/* ---- displays ---- */
.wrappable {
  display: flex;
  flex-wrap: wrap;
}

/* ---- positions ---- */
.pos-rel {
  position: relative;
}
.pos-right-corner {
  position: absolute;
  top: 25px;
  right: 20px;
  left: unset;
}

/* ---- Font defaults ---- */
.bold {
  font-weight: bold;
}
.text-dimmed {
  color: #999;
}

/* ---- Other defaults ---- */
* {
  user-select: none;
}
.cursor-pointer {
  cursor: pointer;
}
.no-pointer-events {
  pointer-events: none;
}
.va-bottom {
  vertical-align: bottom;
}

/* ---- App Styles ----*/
header {
  box-shadow: 0px 3px 10px #00000033;
}
header img.logo {
  height: 80px;
  margin-top: 30px;
}